<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gxk.my-alfred-workflow</string>
	<key>name</key>
	<string>My Workflow</string>
	<key>description</key>
	<string>Project Jump &amp; Jenkins CI</string>
	<key>createdby</key>
	<string>gxk</string>
	<key>version</key>
	<string>1.0.0</string>
	<key>category</key>
	<string>Productivity</string>
	<key>variables</key>
	<dict>
		<key>SCAN_DIRS</key>
		<string></string>
		<key>JENKINS_URL</key>
		<string></string>
		<key>JENKINS_USER</key>
		<string></string>
		<key>JENKINS_TOKEN</key>
		<string></string>
		<key>JENKINS_SHOW_PARAMS</key>
		<string>GIT_BRANCH,BUILD_NO</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>JENKINS_TOKEN</string>
	</array>
	<key>objects</key>
	<array>
		<!-- Script Filter: j -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>jump-filter</string>
			<key>version</key>
			<integer>3</integer>
			<key>icon</key>
			<dict>
				<key>path</key>
				<string>jump.png</string>
			</dict>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>j</string>
				<key>title</key>
				<string>Project Jump</string>
				<key>script</key>
				<string>./jump "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string>Scanning projects...</string>
				<key>withspace</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyalinitially</key>
				<true/>
				<key>alfredfiltersresults</key>
				<false/>
			</dict>
		</dict>
		<!-- Run Script: open with idea -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>jump-open</string>
			<key>version</key>
			<integer>2</integer>
			<key>config</key>
			<dict>
				<key>script</key>
				<string>idea "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
			</dict>
		</dict>
		<!-- Script Filter: ci -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ci-filter</string>
			<key>version</key>
			<integer>3</integer>
			<key>icon</key>
			<dict>
				<key>path</key>
				<string>ci.png</string>
			</dict>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>ci</string>
				<key>title</key>
				<string>Jenkins CI</string>
				<key>script</key>
				<string>./ci "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string>Querying Jenkins...</string>
				<key>withspace</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyalinitially</key>
				<true/>
				<key>alfredfiltersresults</key>
				<false/>
			</dict>
		</dict>
		<!-- Open URL: open Jenkins job -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ci-open</string>
			<key>version</key>
			<integer>1</integer>
			<key>config</key>
			<dict>
				<key>url</key>
				<string>{query}</string>
			</dict>
		</dict>
		<!-- Script Filter: oj -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>oj-filter</string>
			<key>version</key>
			<integer>3</integer>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>oj</string>
				<key>title</key>
				<string>URL Jump</string>
				<key>script</key>
				<string>./urljump "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>withspace</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyalinitially</key>
				<true/>
				<key>alfredfiltersresults</key>
				<false/>
			</dict>
		</dict>
		<!-- Open URL: oj -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>oj-open</string>
			<key>version</key>
			<integer>1</integer>
			<key>config</key>
			<dict>
				<key>url</key>
				<string>{query}</string>
			</dict>
		</dict>
		<!-- Script Filter: cj -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>cj-filter</string>
			<key>version</key>
			<integer>3</integer>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>cj</string>
				<key>title</key>
				<string>Codeup Jump</string>
				<key>script</key>
				<string>URLJUMP_SECTION=codeup ./urljump "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>withspace</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyalinitially</key>
				<true/>
				<key>alfredfiltersresults</key>
				<false/>
			</dict>
		</dict>
		<!-- Open URL: cj -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>cj-open</string>
			<key>version</key>
			<integer>1</integer>
			<key>config</key>
			<dict>
				<key>url</key>
				<string>{query}</string>
			</dict>
		</dict>
		<!-- Keyword: vv -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>vv-trigger</string>
			<key>version</key>
			<integer>1</integer>
			<key>icon</key>
			<dict>
				<key>path</key>
				<string>vv.png</string>
			</dict>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>vv</string>
				<key>text</key>
				<string>Toggle Volume (25/55)</string>
				<key>withspace</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
			</dict>
		</dict>
		<!-- Run Script: toggle volume -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>vv-run</string>
			<key>version</key>
			<integer>2</integer>
			<key>config</key>
			<dict>
				<key>script</key>
				<string>./vv</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
			</dict>
		</dict>
		<!-- Post Notification: vv result -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>vv-notify</string>
			<key>version</key>
			<integer>1</integer>
			<key>config</key>
			<dict>
				<key>title</key>
				<string>Volume</string>
				<key>text</key>
				<string>{query}</string>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
			</dict>
		</dict>
		<!-- Keyword: dd -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>dd-trigger</string>
			<key>version</key>
			<integer>1</integer>
			<key>icon</key>
			<dict>
				<key>path</key>
				<string>dd.png</string>
			</dict>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>dd</string>
				<key>text</key>
				<string>Toggle Do Not Disturb</string>
				<key>withspace</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
			</dict>
		</dict>
		<!-- Run Script: toggle DND -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>dd-run</string>
			<key>version</key>
			<integer>2</integer>
			<key>config</key>
			<dict>
				<key>script</key>
				<string>./dd</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
			</dict>
		</dict>
		<!-- Post Notification: dd result -->
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>dd-notify</string>
			<key>version</key>
			<integer>1</integer>
			<key>config</key>
			<dict>
				<key>title</key>
				<string>Do Not Disturb</string>
				<key>text</key>
				<string>{query}</string>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
			</dict>
		</dict>
	</array>
	<key>connections</key>
	<dict>
		<key>jump-filter</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>jump-open</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>ci-filter</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ci-open</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>oj-filter</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>oj-open</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>vv-trigger</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>vv-run</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>vv-run</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>vv-notify</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>cj-filter</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>cj-open</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>dd-trigger</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dd-run</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>dd-run</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dd-notify</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>uidata</key>
	<dict>
		<key>jump-filter</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>jump-open</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>ci-filter</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>ci-open</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>vv-trigger</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>vv-run</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>vv-notify</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>oj-filter</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>oj-open</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>cj-filter</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>cj-open</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>dd-trigger</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>dd-run</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>dd-notify</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
	</dict>
</dict>
</plist>
